*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans';
}

.modal-form {
    display: flex;
    flex-direction: column;
    width: 754px;
    height: 1248px;
    background: #FFFFFF;
    border-radius: 12px;
    margin: 101px auto;
    padding: 53px 98px;
}
.modal-title {
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 28px;
    line-height: 34px;
    color: #0C1014;
    margin-bottom: 35px;

}
.modal-top {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.modal-left {
    width: 100%;
}
.input {
    display: block;
    width: 100%;
    height: 56px;
    margin-bottom: 32px;
    padding: 8px 45px 8px 16px;
    position: relative;
    border: 1px solid #D6DADE;
    border-radius: 4px;

    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #0C1014;
}
.required {
    padding: 22px 16px 8px;
}

.input::placeholder{
    position: absolute;
    top: 8px;
    left: 16px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color:rgba(106, 110, 114, 1);

}
.required::placeholder{
    left: 30px;
}
    .label-req{
   /* content: "\2731"; */
   display: block;
   color: #D90000;
   position: absolute;
   top: 8px;
    left: 16px;
    z-index: 2;
}
.required-wrap {
    position: relative;
}

.lead {
    margin-bottom: 50px;
}
.button {
margin-bottom: 15px;
background: #E5266E;
border: none;
border-radius: 4px;
font-family: 'Lato';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 18px;
text-align: center;
color: #FFFFFF;
cursor: pointer;

}
.logo {
    width: 163.33px;
    height: 163.33px;
    border-radius: 100%;
    border: 1px solid #000;
    position: relative;
    background: url(img/hh.jpg) center center / contain;
}
.logo::after{
    content: url(img/Vector.png);
    position: absolute;
    bottom: 94.5px;
    left: calc(50% - 15px);
}
.logo input {
    width: 163.33px;
    height: 163.33px;
    border-radius: 100%;
    opacity: 0;
    cursor: pointer;
}
.delete {
    width: 36.17px;
    height: 36.17px;
    background: #fff    ;
    border-radius: 100%;
    position: absolute;
    bottom: 117px;
    left: 124px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.delete span {
    position: absolute;
    display: block;
    width: 20px;
    height: 2px;
    background: #6A6E72;
    transform: rotate(45deg);
}
.delete span:nth-child(2){
    transform: rotate(-45deg);
}
.choice {
    position: absolute;
    bottom: 30px;
    left: calc(50% - 40px);
    font-weight: 400;
    font-size: 18.6667px;
    line-height: 28px;

    text-align: center;
    text-decoration-line: underline;

    color: #fff; 
}

.modal-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 13px;
}
.title-logo {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;

    text-align: center;

    color: #6A6E72;


}
.title-logo::before{
    content: "\2731";
    color: #D90000;
    margin-right: 4px;
}
.wrap-cancel{
    display: flex;
    justify-content: center;
}
details summary {
    list-style: none;
}
summary {
    position: relative;
    cursor: pointer;
}
summary::after {
    content: url(img/down.svg);
    right: 16px;
    position: absolute;
    z-index: 2;
    top: 15px;
}
details ul{
    margin: -34px 0 10px 0px;
    list-style: none;
    display: flex;
    flex-direction: column;
}
details li{
    cursor: pointer;
    display: inline-block;
    padding: 10px 0 10px 5px;
    border-top: none;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}
li:hover{
    color: #D90000;
}

.optional {
    position: relative;
}
.optional label{
    display: block;
    position: absolute;
    top: 16px;
    left: 94%;
}


.open {
    width: 200px;
    height: 70px;
    margin: 20px;
    color: #D90000;
    border-radius: 10px;
}

.modal {
    margin: 25px auto 0;
}
.modal::backdrop{
    background: rgba(0, 0, 0, 0.42);
}

.__select {
    display: block;
    width: 100%;
    height: 56px;
    margin-bottom: 32px;
    position: relative;

    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #0C1014;
}
.__select[data-state="active"] .__select__title::before {
    transform: translate(-3px, -50%) rotate(-45deg);
}
.__select[data-state="active"] .__select__title::after {
    transform: translate(3px, -50%) rotate(45deg);
}
.__select[data-state="active"] .__select__content {
    opacity: 1;
}
.__select[data-state="active"] .__select__label + .__select__input + .__select__label {
    max-height: 40px;
    border-top-width: 1px;
}
.__select__title {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 8px 16px;
    border-radius: 4px;
    border: solid 1px #D6DADE;
    cursor: pointer;
}
.__select__title::before, .__select__title::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 16px;
    display: block;
    width: 10px;
    height: 2px;
    transition: all 0.3s ease-out;
    background-color: #333;
    transform: translate(-3px, -50%) rotate(45deg);
}
.__select__title::after {
    transform: translate(3px, -50%) rotate(-45deg);
}
.__select__title:hover {
    border-color: #d8093a;
}
.__select__title:hover::before, .__select__title:hover::after {
    background-color: #d8093a;
}
.__select__content {
    position: absolute;
    top: 40px;
    left: 3px;
    display: flex;
    flex-direction: column;
    width: calc(100% - 6px);
    background-color: #fff;
    border: 1px solid #c7ccd1;
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: all 0.3s ease-out;
    opacity: 0;
    z-index: 8;
}
.__select__input {
    display: none;
}
.__select__input:checked + label {
    background-color: #dedede;
}
.__select__input:disabled + label {
    opacity: 0.6;
    pointer-events: none;
}
.__select__label {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    max-height: 0;
    padding: 0 16px;
    transition: all 0.2s ease-out;
    cursor: pointer;
    overflow: hidden;
}
.__select__label + input + .__select__label {
    border-top: 0 solid #c7ccd1 60;
}
.__select__label:hover {
    background-color: #d8093a !important;
    color: #fff;
}
.red-star{
    display: inline;
    color: #D90000;
    top: 8px;
    left: 16px;
    z-index: 2;
}
.cancel {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    border: none;
    background: none;
    cursor: pointer;


    color: #0848C0;

}
.__select .input::placeholder{
    margin-left: 15px;
}
.arrow{
    position: absolute;
    top: 23px;
    right: 16px;
}
.arrow[data-state="active"]{
    transform: rotate(180deg);
}

@media (max-width: 576px){
    .modal-form{
        padding: 30px 10px;
        width: 100%;
    }
    .modal-top{
        flex-direction: column;
        gap: 0px;
    }
    .input {
        width: 100%;
    }
    .optional label {
        left: 88%;
    }
    .logo{
        margin-bottom: 32px;
    }
}